.navbar .container-fluid img {
    margin-right: 10px;
}
.navbar .container-fluid .navbar-brand {
    color: orangered;
    font-weight: bold;
}
.collapse .navbar-nav .nav-item .nav-link .button-1 {
    color: antiquewhite;
    background-color: orangered;
}
.collapse .navbar-nav .nav-item .nav-link .button-2 {
    color: antiquewhite;
    background-color: orangered;
}
.collapse .navbar-nav .nav-item .nav-link .button-3 {
    color: antiquewhite;
    background-color: orangered;
}
.d-flex .button-4 {
    color: antiquewhite;
    background-color: orangered;
    width: 80px;
    text-align: center;
     text-decoration: none;
     border-color: black;
     border-style: solid;
     margin-right: 20px;
}
.d-flex .button-5 {
    color: antiquewhite;
    background-color: orangered;
    width: 60px;
    text-align: center;
     text-decoration: none;
     border-color: black;
     border-style: solid;
}

.site-main .row .col .card {
    margin-top: 50px;
}
.wp-block-search__inside-wrapper  .wp-block-search__button {
    background-color: orangered;
    color: antiquewhite;
}
.container .row .col .container-content {
    width: 300px;
    height: 400px;
    background-color: rgb(120, 120, 120);
    margin-top: 40px;
}
.container .row .col .container-info {
    width: 800px;
    height: 400px;
    background-color: rgb(120, 120, 120);
    margin-top: 40px;
}